@model SaveNScore.ViewModels.AccountDetailsViewModel

<div id="pieChartContainer" style="height: 370px; width: 100%;"></div>

<script>
window.onload = function makePieChart() {

var pieChart = new CanvasJS.Chart("pieChartContainer", {
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Spending by Category"
	},
	subtitles: [{
		text: "Last 30 Days"
	}],
	data: [{
		type: "pie",
		startAngle: 180,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabel: "{label} - {y}%",
        dataPoints:@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.PieChartDataPoints)))
	}]
});
pieChart.render();

}
</script>
