@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Save N Score</h1>
    <p class="lead">Save N Score is a sweet budget app with gamification.</p>
    @* Link below is placeholder for a demo/marketing *@
    <p><a href="https://savenscore.com/learnmore" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Save N Score helps you keep your budget on track by...
            @* Add sales pitch *@
        </p>
        <p><a class="btn btn-default" href="http://SaveNScore/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Advice</h2>
        <p>Add some budget advice resources</p>
        <p><a class="btn btn-default" href="https://adviceonpersonalfinance.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Connected</h2>
        <p>Login or signup, maybe add social logins</p>
        <p><a class="btn btn-default" href="http://SaveNScore/Home/Login">Login &raquo;</a></p>
    </div>
</div>