@{
    ViewBag.Title = "About";
    ViewBag.Message = "Neil, Ben, and Donald's Contact Page";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    <a href="mailto:drm43b@mail.umkc.edu">
        Donald Merrill
    </a>
    <br>

    <a href="mailto:ndpd29@mail.umkc.edu">
        Neil Pirch
    </a>
    <br>

    <a href="mailto:bmrghb@mail.umkc.edu">
        Benjamin Rahman
    </a>
    <br>
</p>
