@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Neil, Ben, and Donald's Contact Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5100 Rockhill Road<br />
    Kansas City, MO 64110<br />
    <abbr title="Phone">P:</abbr>
    816.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@SaveNScore.com">Support@SaveNScore.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@SaveNScore.com">Marketing@SaveNScore.com</a>
</address>