@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Neil, Ben, and Donald's Contact Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5100 Rockhill Road<br />
    Kansas City, MO 64110<br />
    <abbr title="Phone">P:</abbr>
    816.555.0100
</address>

<address>
    <strong>Placeholder Support:</strong>   <a href="mailto:Support@SaveNScore.com">Support@SaveNScore.com</a><br />
    <strong>Placeholder Marketing:</strong> <a href="mailto:Marketing@SaveNScore.com">Marketing@SaveNScore.com</a><br><br>

    <a href="mailto:drm43b@mail.umkc.edu">
        Donald Merrill
    </a>
    <br>

    <a href="mailto:ndpd29@mail.umkc.edu">
        Neil Pirch
    </a>
    <br>

    <a href="mailto:bmrghb@mail.umkc.edu">
        Benjamin Rahman
    </a>
    <br>
</address>